# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=glprevenda_db
POSTGRES_USER=glprevenda_user
POSTGRES_PASSWORD=CHANGE_ME_IN_PRODUCTION

# JWT
# Gere um secret forte:  openssl rand -base64 48 | tr -d '\n' | tr -d '=' | tr -d '+' | tr -d '/'
JWT_SECRET=CHANGE_ME_TO_A_STRONG_SECRET_WITHOUT_SPECIAL_CHARS
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Adminer
ADMINER_PORT=8081
