spring:
  datasource:
    url:  jdbc:postgresql://localhost:5432/glp_erp_dev
    username: glp_user
    password: glp_pass_2024
    driver-class-name: org.postgresql.Driver
  
  jpa: 
    hibernate: 
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate: 
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled:  true
    baseline-on-migrate: true
    locations: classpath:db/migration

server: 
  port: 8080

security:
  jwt:
    secret-key: Z2xwLWVycC1zaXN0ZW1hLXJldmVuZGEtZ2xwLXNlY3JldC1rZXktMjAyNC1zdXBlci1zZWd1cmEtbWluaW1vLTUxMi1iaXRzLWJhc2U2NC1lbmNvZGVkLWtleQ==
    expiration: 86400000
    refresh-expiration:  604800000

springdoc:
  api-docs: 
    path: /v3/api-docs
  swagger-ui: 
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
